body {
    font-size: x-large;
}
header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(./../img/about-trans-img.jpg) 50%  no-repeat;
    background-size: cover;
    color: white;
    text-align: center;

}

header :first-child {
    text-transform: uppercase;
    font-size: xx-large;
}

main {
    min-height: 90vh;
    background-color:rgb(241, 239, 239);
}

.facilitiesContainer {
    padding-top: 25px;
    padding-left: 25px;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.facilitiesContainerBody {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

footer {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    background-image: url(./../img/about-trans-img.jpg);
    color: white;
    text-align: center;
    align-items: center;
}

.facilitiInfoItem {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

li{
    margin-left:25px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    max-width: 300px;
}

.facilitiInfo {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.filterLink {
    cursor: pointer;
}

.filterLink-active {
    color: purple;
    text-decoration: underline;
}

.filterList {
    width: 20%;
    /* position: sticky;
    left: 10px;
    top: 30px; */
    border-radius: 3px;
    color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    justify-content: left;
}

.galleryList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: left;
    width: 300px;
}


.galleryListItem {
    width: 50px;
    opacity: 0.8;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 3px;
}

.galleryListItem:hover {
  opacity: 1;
}


.galleryExpandedBox {
    position: relative;
}
.galleryExpandedImg {
    width: 300px;
    border: 3px solid white;
    border-radius: 3px;
    /* display: none; */
}

.facilitiTitle {
    width: 100%;
    text-align: center;
}


#imgText {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-device-width:728px){

}

@media screen and (min-device-width:729px) and (max-device-width:1024px){

}
